.main_footer {
    position: relative;
}

.main_footer {
    background: #F8F8F5;
}

.main_footer .container {
    display: flex;
    justify-content: space-between;
}

.main_footer__col_small {
    border-right: 0.5px solid #231F20;
    width: 34.75%;
    padding: 43px 81px 48px;
}

.main_footer__link a {
    color: inherit;
    text-decoration: none;
}

.main_footer__link a:hover {
    color: #1040c6;
}

.main_footer__link {
    margin-bottom: 7px;
    letter-spacing: 0.005em;
    font-size: 15px;
}

.main_footer__link:last-child {
    margin-bottom: 0;
}

.main_footer__col_big {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px 20px 138px;
}

.main_footer__copyright {
    letter-spacing: .005em;
    font-size: 15px;
    margin-top: 23px;
    margin-left: 20px;
    flex: 1;
    text-align: right;
}

.main_footer__logo {
    font-size: 0;
    width: 160px;
}



@media screen and (max-width:1100px) {
    .main_footer__col_small {
        padding-left: 0;
        padding-right: 20px;
    }

    .main_footer__col_big {
        padding-right: 0;
        padding-left: 20px;
    }
}


@media screen and (max-width:750px) {

    .main_footer__col_big {
        width: 100%;
        flex: none;
        flex-direction: column;
    }

    .main_footer .container {
        flex-direction: column;
    }

    .main_footer__col_small {
        width: 100%;
        border: none;
        text-align: center;
        padding: 30px 0 0;
    }

    .main_footer__copyright {
        text-align: center;
        margin-left: 0;
    }

    .main_footer__logo {
        margin: 15px 0;
    }
}