html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: #231F20;
}


a {
    transition: 0.25s
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
}


.title_x {
    font-weight: bold;
    font-size: 40px;
    text-align: center;

    &--left {
        text-align: left;
    }
}




