.contact_page__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
}

.contact_page__top {
    padding: 50px 0;
}

.contact_page__title:after {
    content: '';
    width: 85px;
    height: 2px;
    background: rgb(0, 189, 255);
    background: linear-gradient(90deg, rgba(0, 189, 255, 1) 0%, rgba(0, 189, 255, 1) 55%, rgba(16, 64, 198, 1) 55%, rgba(16, 64, 198, 1) 100%);
    display: block;
    margin: 7px auto;
}

.contact_page__text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
}

.contact_page__text a {
    color: #1040C6;
    font-weight: bold;
    text-decoration: none;
}

.contact_page__text a:hover {
    color: inherit;
}

.contact_page__form {
    padding: 50px 0 152px;
    border-bottom: 0.5px solid #231F20;
}

.contact_page__form .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_page__form__col--1 {
    padding-left: 73px;
    flex: 1;
}

.contact_page__form__col--2 {
    width: 772px;
}

.contact_page__adress {
    display: flex;
}

.contact_page__adress__text {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.005em;
}

.contact_page__adress svg {
    width: 24px;
}

.contact__form__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact__form__item {
    width: calc(50% - 10px);
}

.contact__form form {
    gap: 28px 20px;
    display: flex;
    flex-direction: column;
}

.contact__form__item__title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
}

.contact__form {
    padding-right: 173px;
}

.contact__form__item input {
    padding: 15px;
    width: 100%;
    border: 1.5px solid #231F20;
    border-radius: 6px;
}

.contact__form__item--full {
    width: 100%;
}

.contact__form__item textarea {
    height: 145px;
    padding: 15px;
    width: 100%;
    border: 1.5px solid #231F20;
    border-radius: 6px;
    resize: vertical;
}

.contact__form__row--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

.btn__form {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    padding: 13px 31px;
    background: #231F20;
    border-radius: 50px;
    border: none;
    color: #fff;
    transition: 0.25s;
}

.btn__form:hover {
    background: #1040c6;
}

.contact_page__question {
    padding: 70px 0 300px;
}

.contact_page__question__title {
    font-family: 'Lora';
    font-weight: 600;
    font-size: 45px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 72px;
}

.question__item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
}

.contact_page__question__list {
    max-width: 780px;
    margin: 0 auto;
}

.question__item__top {
    border: 1px solid #231F20;
    border-radius: 50px;
    padding: 15px 50px 15px 37px;
    position: relative;
    transition: 0.25s;
}

.question__item__content {
    display: none;
    padding: 24px 28px 14px 38px;
    line-height: 1.2;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.005em;
}

.question__item {
    margin-bottom: 30px;
}

.question__item.active .question__item__top {
    background: #231F20;
    color: #fff;
}

.question__item.active .question__item__content {
    display: block;
}


.question__item__btn {
    position: absolute;
    right: 12px;
    top: 0;
    height: 32px;
    width: 32px;
    bottom: 0;
    margin: auto;
}

.question__item__btn:before,
.question__item__btn:after {
    content: '';
    position: absolute;
    width: 50%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #231f20;
    height: 2px;
    transition: 0.25s;
}

.question__item__btn:after {
    height: 50%;
    width: 2px;
}


.question__item.active .question__item__btn:after {
    height: 0;
}

.question__item.active .question__item__btn:before {
    background: #fff;
}

.question__item__content__inner p {
    margin-bottom: 25px;
}

.question__item__content__inner p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .contact__form {
        padding-right: 0;
    }

    .contact_page__form__col--2 {
        width: 550px;
        margin-left: 20px;
    }

    .contact_page__form__col--1 {
        padding-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .contact_page__form__col--1 {
        flex: none;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .contact_page__adress__text br {
        display: none;
    }

    .contact_page__adress__text {
        max-width: 400px;
        line-height: 1.4;
        font-size: 16px;
        margin-top: -10px;
    }

    .contact_page__form .container {
        flex-direction: column;
        align-items: center;
    }

    .contact_page__form__col--2 {
        max-width: 500px;
        width: 100%;
        margin: 50px 0 0;
    }

    .contact_page__form {
        padding-bottom: 100px;
    }

    .contact_page__question {
        padding-bottom: 100px;
    }
}


@media screen and (max-width: 550px) {

    .contact_page__title {
        font-size: 36px;
        margin-bottom: 25px;
    }

    .contact_page__title:after {
        margin: 15px auto;
    }

    .contact_page__top {
        padding: 40px 0 0;
    }

    .contact_page__text {
        line-height: 1.5;
        font-size: 15px;
    }

    .contact_page__text br {
        display: none;
    }


    .contact_page__adress__text {
        font-size: 15px;
    }

    .contact__form__item {
        width: 100%;
    }

    .contact_page__form {
        padding-bottom: 75px;
        padding-top: 30px;
    }

    .contact_page__question__title {
        font-size: 32px;
        margin-bottom: 50px;
    }

    .contact_page__question {
        padding-top: 50px;
    }

    .question__item__title {
        line-height: 1.35;
        font-size: 15px;
    }

    .question__item {
        margin-bottom: 20px;
    }

    .question__item__content {
        padding: 20px 10px 10px;
        font-size: 14px;
        line-height: 1.45;
    }

    .question__item:last-child {
        margin-bottom: 0;
    }
}