.header_main {
    background: #FFFFFF;
    border-bottom: 0.5px solid #231F20;
}

.header_main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__list a {
    padding: 15px 0 20px;
    display: flex;
    font-size: 18px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.005em;
    color: inherit;
    text-decoration: none;
    border-left: 0.5px solid #231F20;
    padding-left: 82px;
    padding-right: 85px;
}
.header__logo {
    width: 140px;
}

.header__menu__list {
    list-style: none;
}

.promo__block__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.15;
    color: #fff;
    margin-bottom: 49px;
}

.promo__block {
    background: #999;
    padding: 292px 0 275px;
    background-image: url('../images/pages/home/promo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.promo__block:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='572' height='450' viewBox='0 0 572 450' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.12' clip-path='url(%23clip0_121_29140)'%3E%3Cpath d='M261.396 449.712C261.396 449.712 171.799 450 163.55 449.424C134.538 447.697 110.645 437.332 96.9925 411.42L0 225.432H144.778L261.396 449.712Z' fill='%231040C6'/%3E%3Cpath d='M168.386 449.712C168.386 449.712 258.836 450.288 267.085 449.712C296.097 447.985 319.137 437.332 332.79 411.132L429.498 225.432H284.72L168.386 449.712Z' fill='%2300BDFF'/%3E%3Cpath d='M309.75 0.287906C309.75 0.287906 401.054 -0.28791 409.303 -1.79559e-06C438.315 1.72745 461.355 13.5317 475.008 39.4434L571.716 225.144H426.938L309.75 0.287906Z' fill='%2300BDFF'/%3E%3Cpath d='M402.476 0C402.476 0 312.879 0 304.346 0.575816C275.333 2.30326 250.588 13.5317 236.935 39.7313L140.227 225.432H285.004L402.476 0Z' fill='%231040C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_121_29140'%3E%3Crect width='572' height='450' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    z-index: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.promo__block__info {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.promo__block__title_2 {
    text-align: right;
    position: relative;
}

.promo__block__title_1 {
    position: relative;
    text-align: left;
}

.promo__block__title_1:before {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    width: 130px;
    height: 2px;
    top: calc(100% + 4px);
    left: 0px;
    background: rgb(0, 189, 255);
    background: linear-gradient(90deg, rgba(0, 189, 255, 1) 0%, rgba(0, 189, 255, 1) 50%, rgba(16, 64, 198, 1) 50%, rgba(16, 64, 198, 1) 100%);
}

.btn__1 {
    background: #00BDFF;
    border-radius: 50px;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    max-width: 330px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.005em;
    transition: 0s;
}

.header__menu {
    margin-right: -20px;
}

.header__menu__list a:hover {
    background: rgb(16 64 198);
    color: #fff;
    border-color: rgb(16 64 198);
}

.btn__1:hover {
    background: rgb(16 64 198);
}

.promo__block__title_2:after {
    content: '';
    position: absolute;
    width: 210px;
    height: 2px;
    top: calc(100% + 6px);
    left: calc(50% - 110px);
    background: rgb(0, 189, 255);
    background: linear-gradient(90deg, rgba(0, 189, 255, 1) 0%, rgba(0, 189, 255, 1) 30%, rgba(16, 64, 198, 1) 30%, rgba(16, 64, 198, 1) 100%);
}


.we_are {
    padding: 120px 0;
}

.we_are__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.01em;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    margin-bottom: 70px;
}

.we_are__title:after {
    content: "";
    width: 83px;
    height: 2px;
    display: block;
    top: calc(100% + 6px);
    left: calc(50% - 110px);
    background: #00bdff;
    background: linear-gradient(90deg, #00bdff 0, #00bdff 55%, #1040c6 55%, #1040c6 100%);
    margin: 20px auto;
}

.we_are__personal {
    display: flex;
    gap: 20px;
    border: 1px solid #231F20;
    flex: 1;
    padding: 26px 30px;
    position: relative;
}

.we_are__personal__image {
    width: 130px;
    font-size: 0;
}

.we_are__personal__info {
    flex: 1;
    max-width: 390px;
}

.we_are__personal--2 {
    flex-direction: row-reverse;
}

.we_are__personal__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.we_are__personal--1 {
    border-left: 0;
    justify-content: flex-end;
}

.we_are__personal--2 {
    border-right: 0;
    justify-content: flex-end;
}

.we_are__personal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #231F20;
    margin-bottom: 20px;
}

.we_are__personal--1 .we_are__personal__info {
    text-align: right;
}

.we_are__personal__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.35;
    letter-spacing: -0.01em;
}

.we_are__personal_plus__inner {
    background: #1040C6;
    width: 52px;
    height: 52px;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    letter-spacing: -0.01em;
    border-radius: 50%;
}

.we_are__personal_plus {
    margin: 0 -13px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we_are__personal_plus__arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='211' viewBox='0 0 16 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29288 210.707C7.68341 211.098 8.31657 211.098 8.7071 210.707L15.0711 204.343C15.4616 203.953 15.4616 203.319 15.0711 202.929C14.6805 202.538 14.0474 202.538 13.6568 202.929L7.99999 208.586L2.34314 202.929C1.95261 202.538 1.31945 202.538 0.928923 202.929C0.538399 203.319 0.538399 203.953 0.928923 204.343L7.29288 210.707ZM7 -4.37114e-08L6.99999 210L8.99999 210L9 4.37114e-08L7 -4.37114e-08Z' fill='%231040C6'/%3E%3C/svg%3E%0A");
    height: 211px;
    width: 20px;
    position: absolute;
    top: 50px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.we_are__text_2 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 1.35;
    letter-spacing: -0.01em;
    max-width: 700px;
    margin: 0 auto 20px;
    position: relative;
}

.we_are__text_3 {
    font-family: Lora;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -.01em;
    color: #231f20;
    max-width: 850px;
    margin: 50px auto 0px;
}

.we_are__text_info {
    margin-top: 170px;
}

.we_are__text_2:after {
    content: "";
    width: 83px;
    height: 2px;
    display: block;
    top: calc(100% + 6px);
    left: calc(50% - 110px);
    background: #00bdff;
    background: linear-gradient(90deg, #00bdff 0, #00bdff 55%, #1040c6 55%, #1040c6 100%);
    margin: 25px auto;
}

.our_service {
    padding: 195px 0;
}

.page__wrap {
    overflow: hidden;
    width: 100%;
}

.our_service__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 70px;
}

.our_service__title:after {
    content: "";
    width: 83px;
    height: 2px;
    background: #00bdff;
    background: linear-gradient(90deg, #00bdff 0, #00bdff 50%, #1040c6 50%, #1040c6 100%);
    display: block;
    margin: 8px auto;
}

.our_service__list {
    display: flex;
    position: relative;
}

.our_service__list:before,
.our_service__list:after {
    content: '';
    display: block;
    background: #231F20;
    height: 0.5px;
    width: 100vw;
    position: absolute;
    left: calc(-1 * (100vw - 1220px) / 2);
}

.our_service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-left: 0.5px solid;
    padding: 61px 20px;
    text-align: center;
}

.our_service__item__image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.our_service .container {
    max-width: 1260px;
}

.our_service__item__circle {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    pointer-events: none;
}

.our_service__item__circle svg {
    width: 100%;
    height: 100%;
}
.our_service__item:last-child {
    border-right: 0.5px solid;
}

.our_service__item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.005em;
    margin-bottom: 9px;
}

.our_service__item__text {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.005em;
}

.our_service__list:after {
    bottom: 0;
}

.promo_2 {
    padding: 312px 0;
    background-image: url(../images/pages/home/promo_2.jpg);
    background-color: #c0a88d;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    color: #fff;
}

.promo_2__info {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}

.promo_2__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 121.5%;
    /* or 29px */
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 9px;
}

.promo_2__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 115.5%;
    /* identical to box height, or 39px */
    text-align: center;
    letter-spacing: -0.01em;
    max-width: 340px;
    margin-left: 148px;
    margin-bottom: 30px;
}

.promo_2__text_2 {
    text-align: right;
}

.promo_2__btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.005em;
    padding: 13px 76px;
    color: #fff;
    text-decoration: none;
    background: #1040C6;
    border-radius: 50px;
    margin-left: 164px;
    display: inline-flex;
}

.contact__block {
    background: #1040C6;
    color: #fff;
}

.contact__block__top .container {
    display: flex;
    flex-wrap: wrap;
}

.contact__block__title_1 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.288;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding: 51px 0 54px;
}

.contact__block__content .container {
    display: flex;
    flex-wrap: wrap;
}

.contact__block__col_1 {
    border-right: 0.5px solid #fff;
    width: 34.75%;
    padding-left: 82px;
}

.contact__block__top {
    border-bottom: 0.5px solid #fff;
}

.contact__block__adress {
    padding-top: 50px;
    display: flex;
    padding-right: 20px;
}

.contact__block__text {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
}

.contact__form__home {
    padding-left: 124px;
    padding-top: 50px;
    padding-bottom: 68px;
}

.contact__block__col_2 {
    width: 65.25%;
    padding-right: 163px;
}

.contact__form__home form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.btn__form.btn__form--white {
    background: #fff;
    color: #1040c6;
    width: 190px;
}

.btn__form.btn__form--white:hover {
    background: #000;
    color: #fff;
}

.contact__form__home .contact__form__item input,
.contact__form__home .contact__form__item textarea {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.contact__form__home .contact__form__item input::placeholder,
.contact__form__home .contact__form__item textarea::placeholder {
    color: rgb(245, 250, 255);
    opacity: 0.75
}

.contact__block__title_2 {
    font-family: 'Lora';
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.01em;
}

.contact__block__info {
    padding: 50px 0;
    padding-left: 120px;
}

.contact__block__text_2 {
    max-width: 480px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
}

.promo_2__btn:hover {
    background: #00bdff;
}

.modern__marketing .container {
    position: relative;
    max-width: 1260px;
}

.modern__marketing__diagramm {
    font-size: 0;
    position: absolute;
    right: 16px;
    top: 49%;
    width: 730px;
    pointer-events: none;
}
.modern__marketing__diagramm img{ transform: translate(0, -50%);}
.modern__marketing {
    padding: 260px 0;
    background: url(../images/pages/home/bg_2.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    color: #fff;
}

.modern__marketing__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 100.5%;
    text-align: center;
    letter-spacing: -0.01em;
    max-width: 400px;
    margin-left: -8px;
    margin-bottom: 70px;
}

.modern__marketing__title__2 {
    text-align: right;
    padding-right: 31px;
}

.modern__marketing__before_title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.modern__marketing__info {
    max-width: 430px;
}

.modern__marketing__text__list {
    padding-left: 87px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.01em;
    list-style: none;
}

.modern__marketing__text__list li:nth-child(2) {
    margin-left: 19px;
}

.modern__marketing__text__list li {
    margin-bottom: 20px;
    position: relative;
}

.modern__marketing__text__list li:nth-child(3) {
    margin-left: 39px;
}

.modern__marketing__text__list li:nth-child(4) {
    margin-left: 61px;
}

.modern__marketing__text__list li:nth-child(5) {
    margin-left: 81px;
}

.modern__marketing__text__list li:last-child {
    margin-bottom: 0;
}

.modern__marketing__dot {
    width: 12px;
    height: 12px;
    border: 1px solid rgba(248, 248, 245, 0.48);
    position: absolute;
    left: -21px;
    border-radius: 50%;
    top: 5px;
}


.experience__block {
    background: url(../images/pages/home/bg_3.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 125px 0;
}

.experience__block__title {
    font-family: 'Lora';
    font-weight: 600;
    font-size: 45px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -0.01em;
    color: #231F20;
    max-width: 500px;
    margin: 0 auto 70px;
}

.experience__block__title:after {
    content: "";
    width: 90px;
    height: 2px;
    background: #00bdff;
    background: linear-gradient(90deg, #00bdff 0, #00bdff 50%, #1040c6 50%, #1040c6 100%);
    display: block;
    margin: 6px auto;
}

.experience__x {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 15px;
}

.experience__x_item__man__image {
    font-size: 0;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.experience__x_item__add {
    position: absolute;
    pointer-events: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 130px;
    z-index: 2;
    top: 43%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 14px;
}

.experience__x_item {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-bottom: 390px;
    position: relative;
}

.experience__x_item__company__mobile {
    display: none;
}

.experience__block__text {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.01em;
    max-width: 775px;
    margin: 0 auto;
    margin-top: 70px;
}

.experience__x_item__man__name {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #1040C6;
}

.experience__x_item__man__position {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #231F20;
}

.experience__x_item__man__position span {
    display: block;
}

.experience__x_item--2 {
    text-align: left;
    justify-content: flex-start;
}

.experience__x_item--1 {
    text-align: right;
}

.experience__x_item__man {
    display: flex;
    gap: 40px;
    position: relative;
    z-index: 1;
}

.experience__x_item--2 .experience__x_item__man {
    flex-direction: row-reverse;
}

.experience__x_item__company__list {
    position: absolute;
    bottom: 22px;
    width: 510px;
    left: 125px;
}

.experience__x_item:before {
    content: '';
    position: absolute;
    width: 680px;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='676' height='509' viewBox='0 0 676 509' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M675.029 254.5C675.029 324.406 637.4 387.766 576.418 433.683C515.436 479.6 431.145 508.029 338 508.029C244.855 508.029 160.564 479.6 99.5818 433.683C38.5999 387.766 0.970774 324.406 0.970774 254.5C0.970774 184.594 38.5999 121.234 99.5818 75.3168C160.564 29.3997 244.855 0.970774 338 0.970774C431.145 0.970774 515.436 29.3997 576.418 75.3168C637.4 121.234 675.029 184.594 675.029 254.5Z' stroke='%231040C6' stroke-width='1.94155'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    left: 75px;
    top: 0;
}


.experience__x_item__man__info {
    padding-top: 30px;
}

.experience__x_item--2:before {
    left: -62px;
}

.experience__x_item--2 .experience__x_item__company__list {
    left: 58px;
    bottom: 30px;
    width: 503px;
}
.our_service__item__image rect {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.our_service__item__circle.animate rect {
    animation: stroke 7s ease-out forwards;
}
.we_are__personal__type{display: none;}
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}



@media screen and (max-width: 1400px) {
    .experience__x {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    .experience__x_item:before {
        left: -7%;
        top: -10px;
    }

    .experience__x_item__man {
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .experience__x_item__man__info {
        padding: 0;
    }

    .experience__x_item__company__list {
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
        bottom: 65px;
    }

    .experience__x_item__man__position {
        font-size: 20px;
        line-height: 1.25;
    }

    .experience__x_item__man__image {
        width: 100px;
    }

    .experience__block__title {
        margin-bottom: 40px;
    }

    .experience__x_item__man__name {
        font-size: 12px;
        margin-bottom: 5px;
    }


    .experience__x_item__add {
        display: none;
    }

    .experience__x_item--2 {
        flex-direction: column;
    }

    .experience__x_item--2 .experience__x_item__man {
        flex-direction: column-reverse;
    }

    .experience__x_item--2 .experience__x_item__company__list {
        left: 50%;
        width: 330px;
        bottom: 75px;
    }

    .experience__x_item--1 {
        justify-content: center;
    }

    .experience__x_item {
        padding-bottom: 330px;
    }
}



@media screen and (max-width: 1280px) {
    .modern__marketing__diagramm{
        width: 475px;
    }

    .modern__marketing {
        padding: 175px 0;
    }

    .our_service__list:after,
    .our_service__list:before {
        left: -20px;
    }

    .contact__form__home {
        padding-left: 40px;
    }

    .contact__block__info {
        padding-left: 40px;
    }

    .contact__block__col_2 {
        padding-right: 0;
    }

    .contact__block__col_1 {
        padding-left: 0;
    }
}


@media screen and (max-width: 1000px) {
    .we_are__personal__type {
        position: absolute;
        left: 20px;
        font-weight: bold;
        max-width: 140px;
        top: 66px;
        font-size: 20px;
        line-height: 1.35;
    }
    .we_are__personal_plus__arrow {
        display: none;
    }
    .we_are__personal__type--2 {
        text-align: right;
        right: 20px;
        left: auto;
    }
    .experience__block {
        padding: 100px 0;
    }

    .experience__block__title {
        font-size: 32px;
        max-width: 500px;
        margin-bottom: 40px;
    }

    .experience__block__title:after {
        margin: 20px auto 0;
    }

    .experience__block__text {
        font-size: 36px;
        line-height: 1.35;
        margin-top: 25px;
    }

    .we_are__title {
        font-size: 32px;
        max-width: 600px;
        margin-bottom: 40px;
    }

    .we_are {
        padding: 90px 0;
    }

    .we_are__personal {
        flex: none;
        width: calc(100% + 20px);
    }

    .we_are__personal--1 {
        margin-left: -20px;
    }

    .we_are__personal--2 {
        margin-right: -20px;
    }

    .we_are__personal_plus {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
    }

    .we_are__personal__list {
        gap: 32px;
    }

    .we_are__text_info {
        margin-top: 50px;
    }

    .contact__block__text_2 {
        font-size: 17px;
    }

    .contact__block__title_2 {
        font-size: 36px;
    }

    .contact__block__title_1 {
        font-size: 36px;
    }

    .promo_2 {
        padding: 200px 0;
    }

    .contact__block__text {
        font-size: 16px;
    }

    .our_service {
        padding: 150px 0;
    }

    .our_service__list {
        flex-wrap: wrap;
    }

    .our_service__item {
        width: 50%;
    }

    .our_service__item {
        border-bottom: 0.5px solid;
    }

    .our_service__item:nth-child(2n) {
        border-right: 0.5px solid;
    }

    .our_service__item:nth-child(n + 3) {
        border-bottom: none;
    }
}

@media screen and (max-width: 900px) {
    .modern__marketing__title {
        font-size: 32px;
        line-height: 1.25;
        margin-bottom: 30px;
    }

    .modern__marketing__info {
        max-width: 290px;
    }

    .modern__marketing__before_title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .modern__marketing {
        padding: 100px 0;
    }

    .modern__marketing__text__list {
        padding-left: 30px;
        font-size: 15px;
    }

    .modern__marketing__diagramm{
        width: 400px;
    }
}


@media screen and (max-width:750px) {
    .our_service__item__circle {
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        margin-left: -5px;
        margin-top: -5px;
    }
    .modern__marketing__diagramm{
        position: static;
        pointer-events: all;
        margin: 50px auto 0;
        width: 100%;
        max-width: 400px;
    }

    .modern__marketing__diagramm img{
        transform: none;
    }
    .modern__marketing .container {
        max-width: 500px;
    }

    .modern__marketing {
        padding: 50px 0;
    }

    .modern__marketing__info {
        margin: 0 auto;
    }

    .promo__block:before {
        background-size: 300px;
    }

    .header__menu__list a {
        padding: 20px 30px;
        font-size: 16px;
        font-weight: 500;
        width: 200px;
        text-align: center;
        justify-content: center;
    }

    .header__logo {
        width: 125px;
        margin-top: -1px;
    }

    .promo__block {
        padding: 125px 0;
    }

    .promo__block__title {
        font-size: 36px;
        line-height: 1.25;
    }

    .promo__block__info {
        max-width: 400px;
    }

    .btn__1 {
        max-width: 230px;
        padding: 13px;
        font-size: 16px;
    }

    .contact__block__info {
        padding-left: 0;
    }

    .contact__form__item__title {
        margin-bottom: 8px;
        font-weight: 500;
    }

    .contact__block__top .contact__block__col_1 {
        display: none;
    }

    .contact__block__col_2 {
        width: 100%;
    }

    .contact__block__col_1 {
        width: 100%;
        border: none;
    }

    .contact__block__text br {
        display: none;
    }

    .contact__block__adress {
        max-width: 400px;
        margin: 0 auto;
    }

    .contact__block__text {
        font-size: 14px;
        margin-top: -10px;
    }

    .contact__form__home {
        padding: 40px 0 50px;
    }

    .promo_2__title {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1.4;
    }

    .promo_2__info {
        max-width: 350px;
    }

    .promo_2__text {
        font-size: 20px;
        line-height: 1.3;
        margin-left: 100px;
    }

    .promo_2 {
        padding: 100px 0;
    }

    .promo_2__btn {
        margin-left: 0;
        font-size: 15px;
        padding: 12px 50px 13px;
    }

    .our_service__title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .our_service__item__title {
        font-size: 16px;
    }

    .our_service__item__image {
        width: 75px;
        height: 75px;
    }

    .our_service__item__image img {
        width: 55%;
    }

    .our_service__item__text {
        font-size: 14px;
    }

    .our_service {
        padding: 100px 0;
    }
}


@media screen and (max-width: 550px) {

    .we_are__personal__type {
        display: flex;
    }
    .experience__block__title {
        font-size: 26px;
    }

    .experience__block {
        padding: 60px 0;
    }

    .experience__x_item:before {
        display: none;
    }

    .experience__x_item__company__list {
        position: static;
        transform: none;
        width: 100%;
    }

    .experience__x_item {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border: 1px solid;
        padding: 30px 20px 20px;
    }

    .experience__x_item__man {
        margin-bottom: 30px;
    }

    .experience__block__text {
        font-size: 18px;
    }

    .experience__x_item--2 .experience__x_item__company__list {
        width: 100%;
    }

    .our_service {
        padding: 55px 0;
    }

    .we_are__title {
        font-size: 24px;
    }

    .we_are {
        padding: 75px 0;
    }

    .we_are__personal {
        flex-direction: column-reverse;
        padding: 26px 20px;
    }

    .we_are__personal--1 {
        align-items: flex-end;
        padding-right: 26px;
    }

    .we_are__personal__info {
        max-width: 100%;
    }

    .we_are__text_2 {
        font-size: 17px;
    }

    .we_are__personal--2 {
        padding-left: 26px;
    }

    .we_are__personal__title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .we_are__personal__text {
        font-size: 14px;
        line-height: 1.45;
    }

    .we_are__text_info {
        margin-top: 35px;
    }

    .we_are__text_3 {
        font-size: 19.25px;
    }

    .modern__marketing__title {
        font-size: 27px;
        padding-right: 20px;
    }

    .modern__marketing__before_title {
        font-size: 20px;
        padding-left: 10px;
    }

    .modern__marketing__title__2 {
        padding-right: 0;
    }

    .modern__marketing__text__list li {
        margin-bottom: 16px;
    }

    .our_service__item {
        width: 100%;
    }

    .our_service__item:nth-child(n + 3) {
        border-bottom: 0.5px solid;
    }

    .our_service__item:last-child {
        border-bottom: 0;
    }

    .our_service__item {
        border-right: 0.5px solid;
    }

    .promo_2__title {
        font-size: 16px;
        font-weight: bold;
    }

    .promo_2__text {
        margin: 0 auto 24px;
        font-size: 18px;
        max-width: 200px;
    }

    .promo_2 {
        padding: 75px 0;
        background-size: auto 135%;
    }
}


@media screen and (max-width:450px) {
    .header__menu__list a {
        font-size: 13px;
        padding: 13px 15px;
        width: 150px;
        font-weight: 400;
    }

    .header__logo {
        width: 100px;
    }

    .promo__block__title {
        font-size: 30px;
    }

    .promo__block {
        padding: 95px 0;
    }
}